.card-container-t1 {
  background: #222;
  padding: 20px;
}

.card-container-t2 {
  background: #ffbb00;
  padding: 20px;
}

.card-container-t1,
.card-container-t2 {
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.2);
  width: 360px;
  height: 180px;
}

.card-title-t1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  line-height: calc(1.5rem * 1.5);
}

.card-text-t1 {
  font-size: 1rem;
  font-weight: 500;
  color: #9c9c9c;
  line-height: calc(1rem * 1.5);
  margin-top: 20px;
}

.card-title-t2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #221700;
  line-height: calc(1.5rem * 1.5);
}

.card-text-t2 {
  font-size: 1rem;
  font-weight: 500;
  color: #976f00;
  line-height: calc(1rem * 1.5);
  margin-top: 20px;
}

.card-list {
  position: absolute;
  top: -80px;
  left: 20%;
  animation: slideUp 0.5s ease-in-out 0.5s;
  animation-fill-mode: backwards;
}

@media (max-width: 768px) {
  .card-container-t1,
  .card-container-t2 {
    min-width: 240px;
    min-height: 180px;
  }

  .card-container-mobile {
    margin-left: 12px;
    margin-right: 12px;
  }

  .card-list {
    top: -60px;
    left: 0px;
    position: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .card-list::-webkit-scrollbar {
    display: none;
  }
}
